
#canvas2{
    /* background: blue; */
}

body{
    background-image: url('../child_game/images/1645745289_2-kartinkin-net-p-kartinki-detskii-sad-dlya-prezentatsii-2.jpg');
    -moz-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}