// Стартовая страница WELCOM

@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }
    
    15%, 70% {
        transform: scale(1, 1) translateY(0);
    }
    
    90% {
        transform: scale(1, 1) translateY(600%);
    }
    
    100% {
        transform: scale(1, 1) translateY(600%);
    }
}

html {
    height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 11px;
  height: 100%;
  margin: 0;
  background: #2FACF6;
  overflow-y: hidden;
}

.circle_wraper{
    width: 1000px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .circle{
        width: 120px;
        height: 110px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .05);
        transform: scale(0, 0) translateY(0);
    
        animation-name: slide;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .red{
        background-color: red;
        animation-delay: .2s;
    }
    .yellow{
        background-color: orange;
        animation-delay: .4s;
    }
    .blue{
        background-color: blue;
        animation-delay: .6s;
    }
    .violet{
        background-color: violet;
        animation-delay: .8s;
    }
    .green{
        background-color: green;
    }
    .pink{
        background-color: pink;
    }
}


// Стартовая страница с кнопками
#bg-wrap{
    .button-body{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .05);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        .buttons-wrapper{
            display: flex;
            flex-direction: column;
            width: 400px;
            .btn{
                width: 400px;
                height: 80px;
                font-size: 30px;
                font-family: 'Times New Roman', Times, serif;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                text-decoration: none;
                color: white;
            }
            .start{
                background-color: aqua;
            }
            .options{
                background-color: orange;
            }
            .info{
                background-color: palevioletred;
            }
            .exit{
                background-color: greenyellow;
            }
        }
        
    }
}


// Попап

.popup_options{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    .popup_options_body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        .popup_options_content{
            background-color: white;
            color: black;
            max-width: 800px;
            padding: 30px;
            position: relative;
            transition: all 0.8s ease 0s;
            opacity: 0;
            transform: translate(0px, -100%);
            .popup_options_close{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 20px;
                color: black;
                text-decoration: none;

            }
            .popup_options_title{
                font-size: 40px;
                margin: 0px 0px 1em 0px;

            }
            .popup_options_text{

            }
        }
    }
}
.popup_options.open{
    opacity: 1;
    visibility: visible;
    .popup_options_content{
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;

    }
}
