@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "variables";


body{
    background-image: url('./images/1616543497_33-p-fon-detskii-sad-34.jpg');
    -moz-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
   
}

.container{
    width: $container-width;
    background-color: red;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}

.header-start-window{

    .inf-buttons{
        .inf-buttons-style{

        }
    }
    .user-name-result{
        .userName{

        }
        .userCounter{

        }
    }
}