@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "variables";
@mixin _1729 {
    @media all and (max-width: 1729px){
        @content;
    }
}
@mixin _1539 {
    @media all and (max-width: 1539px){
        @content;
    }
}
@mixin _1239 {
    @media all and (max-width: 1239px){
        @content;
    }
}
@mixin _1040 {
    @media all and (max-width: 1040px){
        @content;
    }
}
@mixin _931 {
    @media all and (max-width: 931px){
        @content;
    }
}

@mixin _720 {
   @media all and (max-width: 720px){
       @content;
   }
}
@mixin _611 {
    @media all and (max-width: 611px){
        @content;
    }
 }
 @mixin _421 {
    @media all and (max-width: 421px) and (orientation: portrait){
        @content;
    }
 }
 @mixin _320 {
    @media all and (max-width: 320px) and (orientation: portrait){
        @content;
    }
 }


@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }
    
    70% {
        transform: scale(1, 1) translateY(0);
    }
    
    90% {
        transform: scale(1, 1) translateY(1400%);
    }
    
    100% {
        transform: scale(1, 1) translateY(1400%);
    }
}

body{
    background: url('../images/1618511466_59-funart_pro-p-oboi-fon-nebesno-goluboi-59.png') no-repeat center center fixed;
    -moz-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: cover;
    font-family: $font;
    overflow: hidden;
}

.container{
    width: $container-width;
    margin: 0 auto;
    @include _1729{
        width: 1500px;
    }
    @include _1539{
        width: 1200px;
    }
    @include _1239{
        width: 900px;
    }
    @include _931{
        width: 700px;
    }
    @include _720{
        width: 600px;
    }
    @include _611{
        width: 400px;
    }
    @include _421{
        width: 200px;
    }
}
a{
    text-decoration: none;
    color: inherit;
}
.header-window{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @include _421{
    }
    .inf-buttons{
        width: 300px;
        display: flex;
        justify-content: space-between;
        @include _1239{
            width: 250px;
        }
        @include _931{
            width: 210px;
        }
        @include _611{
            width: 180px;
        }
        @include _421{
            width: 100px;
        }
        .inf-buttons-style{
            width: 140px;
            height: 60px;
            color: red;
            @include _1239{
                width: 100px;
                height: 50px;
                font-size: 15px;
            }
            @include _611{
                width: 80px;
                height: 40px;
                font-size: 12px;
            }
            @include _421{
                width: 50px;
                height: 30px;
                font-size: 8px;
            }
        }
    }
    .user-name-result{
        width: 400px;
        display: flex;
        justify-content: space-between;
        @include _1239{
            width: 290px;
            height: 50px;
        }
        @include _931{
            width: 250px;
        }
        @include _611{
            width: 200px;
        }
        @include _421{
            width: 100px;
        }
        .userName{
            width: 140px;
            height: 60px;
            color: red;
            @include _1239{
                width: 100px;
                height: 50px;
            }
            @include _611{
                width: 70px;
                height: 40px;
            }
            @include _421{
                width: 40px;
                height: 30px;
            }
        }
        .userCounter{
            width: 250px;
            height: 60px;
            display: flex;
            justify-content: space-around;
            @include _1239{
                width: 150px;
                height: 50px;
                padding-left: 20px;
            }
            @include _931{
                width: 120px;
                height: 50px;
                padding-left: 15px;
            }
            @include _611{
                width: 100px;
                height: 40px;
            }
            @include _421{
                width: 40px;
                height: 30px;
            }
            .cake{
                font-size: 50px;
                color: lightgray;
                @include _1239{
                    font-size: 35px;
                    margin-top: 7px;
                }
                @include _931{
                    font-size: 30px;
                    margin-top: 0px;
                    margin-right: 12px;
                }
                @include _611{
                    font-size: 25px;
                }
                @include _421{
                    font-size: 11px;
                }
            }
        }
    }
}
.popup_done{
    position: fixed;
    bottom: 38px;
    width: 70%;
    background-color: green;
    color: white;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
    height: 56px;
    border-radius: 23px;
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
    .popup_done_text{
        color: white;
        font-size: 25px;
    } 
}
.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}


// Приветствие  // адаптив полностью готов
.circle_container{
    .circle_wraper{
        width: 1000px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include _1040{
            width: 700px;
        }
        @include _720{
            width: 600px;
        }
        @include _611{
            width: 400px;
        }
        @include _421{
            width: 200px;
        }
        .circle{
            width: 120px;
            height: 110px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .05);
            transform: scale(0, 0) translateY(0);
        
            animation-name: slide;
            animation-timing-function: ease;
            animation-duration: 4s;
            animation-iteration-count: 1;
            @include _1040{
                width: 90px;
                height: 80px;
                font-size: 40px;
            }
            @include _720{
                width: 70px;
                height: 60px;
                font-size: 30px;
            }
            @include _611{
                width: 60px;
                height: 50px;
            }
            @include _421{
                width: 40px;
                height: 30px;
                font-size: 20px;
            }
        }
        .red{
            background-color: red;
            animation-delay: .2s;
        }
        .yellow{
            background-color: orange;
            animation-delay: .4s;
        }
        .blue{
            background-color: blue;
            animation-delay: .6s;
        }
        .violet{
            background-color: violet;
            animation-delay: .8s;
        }
        .green{
            background-color: green;
        }
        .pink{
            background-color: pink;
        }
    }
    
}

// Ввод данных пользователя // адаптив полностью готов


.userDataForm{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include _421{
        position: relative;
    }
    .userDataFormWrapper{
        width: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include _421{
            position: absolute;
            top: 200px;
            left: 40px;
        }
        @include _320{
            position: absolute;
            top: 150px;
            left: 40px;
        }
         #userNameForm{
             width: 600px;
             height: 60px;
             margin: auto auto;
             border-radius: 20px;
             border: solid 1px white;
             font-size: 30px;
             color: red;
             outline: none;
             @include _1040{
                width: 400px;
                height: 50px;
                font-size: 25px;
             }
             @include _611{
                width: 300px;
                height: 40px;
                font-size: 20px;
             }
             @include _421{
                width: 300px;
                height: 40px;
                font-size: 20px;
             }
         }
         label{
             font-size: 40px;
             color: red;
             @include _1040{
                font-size: 30px;
             }
             @include _421{
                font-size: 20px;
             }
         }
         #userDataFormButton{
             width: 200px;
             height: 40px;
             margin-top: 15px;
             background-color: red;
             color: white;
             border-radius: 15px;
             border: none;
             font-size: 20px;
             @include _1040{
                width: 160px;
                height: 30px;
             }
             @include _421{
                width: 100px;
                height: 30px;
             }
         }
     }
}

.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}



// Стартовая страница
.inf-blocks-style{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px white;
    font-size: 25px;
}
.levels-start-blocks{
    width: 500px;
    height: 450px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    color: red;
    @include _1239{
        font-size: 20px;
    }
    @include _931{
        width: 350px;
        height: 300px;
        font-size: 17px;
    }
    @include _421{
        width: 450px;
        height: 200px;
        font-size: 17px;
    }
}
.start-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-window{
    .levels-start-window{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        @include _421{
            margin-top: -180px;
            margin-left: -340px;
        }
        .first-level-start{
            background: url('../images/shapes.png') no-repeat center;
            @include _1239{
                background: url('../images/littlefig.png') no-repeat center;
            }
            @include _720{
                background: url('../images/Litlitsh.png') no-repeat center;
            }
            @include _611{
                background: url('../images/lllll.png') no-repeat center;
            }
        }
        .second-level-start{
            background: url('../images/letters.png') no-repeat center;
            @include _1239{
                background: url('../images/littlelet.png') no-repeat center;
            }
            @include _720{
                background: url('../images/litlitlet.png') no-repeat center;
            }
            @include _611{
                background: url('../images/llllet.png') no-repeat center;
            }
        }
        .third-level-start{
            background: url('../images/nums.png') no-repeat center;
            @include _1239{
                background: url('../images/littlenum.png') no-repeat center;
            }
            @include _720{
                background: url('../images/litlitnum.png') no-repeat center;
            }
            @include _611{
                background: url('../images/lllnum.png') no-repeat center;
            }
        }
    }
}
.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

// Модальное окно информации

.popup_options{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    .popup_options_body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        .popup_options_content{
            background-color: white;
            color: red;
            max-width: 800px;
            padding: 30px;
            position: relative;
            transition: all 0.8s ease 0s;
            opacity: 0;
            transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
            .popup_options_close{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 20px;
                color: red;
                text-decoration: none;

            }
            .popup_options_title{
                font-size: 40px;
                margin: 0px 0px 1em 0px;
                color: red;
            }
            .popup_options_text{
                color: red;
            }
        }
    }
}
.popup_options:target{
    opacity: 1;
    visibility: visible;
    .popup_options_content{
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
}

// Первый уровень
.green-triangle-parent{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include _1239{
        width: 250px;
        height: 250px;
    }
    @include _611{
        width: 150px;
        height: 150px;
    }
    .green-triangle{
        width: 0;
	    height: 0;
	    border-left: 170px solid transparent;
	    border-right: 170px solid transparent;
	    border-bottom: 200px solid green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include _1239{
            border-left: 130px solid transparent;
            border-right: 130px solid transparent;
            border-bottom: 150px solid green;
        }
        @include _931{
            border-left: 110px solid transparent;
            border-right: 110px solid transparent;
            border-bottom: 130px solid green;
        }
        @include _720{
            border-left: 90px solid transparent;
            border-right: 90px solid transparent;
            border-bottom: 110px solid green;
        }
        @include _611{
            border-left: 70px solid transparent;
            border-right: 70px solid transparent;
            border-bottom: 90px solid green;
        }
        span{
            margin-left: -24px;
            margin-top: 100px;
            color: white;
            font-size: 18px;
            @include _931{
                font-size: 15px;
                margin-top: 70px;
            }
            @include _611{
                font-size: 13px;
                margin-top: 50px;
            }
        }
    }
}
.first-level-body-infBlock{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    color: red;
    background: transparent;
    margin: 0 auto;
    text-align: center;
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
    // display: none;
    @include _611{
        width: 200px;
        height: 50px; 
        font-size: 20px;
    }
}
.first-level-wrapper{
    .first-level-body{
        // opacity: 0;
        // transition: 1s;
        // visibility: hidden;
        display: flex;
        // display: none;
        justify-content: space-around;
        width: 100%;
        margin-top: 30px;
        .first-level-body-details-left{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .brown-square-parent{
                width: 350px;
                height: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include _1239{
                    width: 250px;
                    height: 250px;
                }
                @include _611{
                    width: 150px;
                    height: 150px;
                }
                .brown-square{
                    width: 120px;
                    height: 120px;
                    background-color: brown;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 18px;
                    @include _1239{
                        width: 100px;
                        height: 100px;
                    }
                    @include _931{
                        width: 90px;
                        height: 90px;
                        font-size: 15px;
                        position: absolute;
                        top: 600px;
                        text-align: center;
                    }
                    @include _720{
                        width: 70px;
                        height: 70px;
                    }
                    @include _611{
                        width: 60px;
                        height: 60px;
                        font-size: 12px;
                    }
                }
            }
        }
        .first-level-body-image{
            position: relative;
            width: 300px;
            height: 800px;
            position: relative;
            @include _1239{
                width: 250px;
                height: 500px;
            }
            @include _720{
                width: 350px;
                height: 800px;
            }
            .white-triangle{
                width: 0;
                height: 0;
                border-left: 170px solid transparent;
                border-right: 170px solid transparent;
                border-bottom: 200px solid white;
                @include _1239{
                    border-left: 130px solid transparent;
                    border-right: 130px solid transparent;
                    border-bottom: 150px solid white;
                }
                @include _931{
                    border-left: 110px solid transparent;
                    border-right: 110px solid transparent;
                    border-bottom: 130px solid white;
                }
                @include _720{
                    border-left: 90px solid transparent;
                    border-right: 90px solid transparent;
                    border-bottom: 110px solid white;
                }
                @include _611{
                    border-left: 70px solid transparent;
                    border-right: 70px solid transparent;
                    border-bottom: 90px solid white;
                }
            }
            .first-white-triangle{
                position: absolute;
                top: 79px;
            }
            .green-triangle{
                width: 0;
                height: 0;
                border-left: 170px solid transparent;
                border-right: 170px solid transparent;
                border-bottom: 200px solid green;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @include _1239{
                    border-left: 130px solid transparent;
                    border-right: 130px solid transparent;
                    border-bottom: 150px solid green;
                }
                @include _931{
                    border-left: 110px solid transparent;
                    border-right: 110px solid transparent;
                    border-bottom: 130px solid green;
                }
                @include _720{
                    border-left: 90px solid transparent;
                    border-right: 90px solid transparent;
                    border-bottom: 110px solid green;
                }
                @include _611{
                    border-left: 70px solid transparent;
                    border-right: 70px solid transparent;
                    border-bottom: 90px solid green;
                }
                span{
                    margin-left: -24px;
                    margin-top: 100px;
                    color: white;
                    font-size: 18px;
                    @include _931{
                        font-size: 15px;
                        margin-top: 70px;
                    }
                }
            }
            .second-white-triangle{
                position: absolute;
                top: 280px;
                @include _1239{
                    top: 230px;
                }
                @include _931{
                    top: 210px;
                }
                @include _720{
                    top: 190px;
                }
                @include _611{
                    top: 170px;
                }
            }
            .green-triangle{
                width: 0;
                height: 0;
                border-left: 170px solid transparent;
                border-right: 170px solid transparent;
                border-bottom: 200px solid green;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                @include _1239{
                    border-left: 130px solid transparent;
                    border-right: 130px solid transparent;
                    border-bottom: 150px solid green;
                }
                @include _931{
                    border-left: 110px solid transparent;
                    border-right: 110px solid transparent;
                    border-bottom: 130px solid green;
                }
                @include _720{
                    border-left: 90px solid transparent;
                    border-right: 90px solid transparent;
                    border-bottom: 110px solid green;
                }
                @include _611{
                    border-left: 70px solid transparent;
                    border-right: 70px solid transparent;
                    border-bottom: 90px solid green;
                }
                span{
                    margin-left: -24px;
                    margin-top: 100px;
                    color: white;
                    font-size: 18px;
                    @include _931{
                        font-size: 15px;
                        margin-top: 70px;
                    }
                }
            }
            .white-square{
                width: 120px;
                height: 120px;
                background-color: white;
                border: solid 2px brown;
                position: absolute;
                top: 480px;
                right: 66px;
                @include _1239{
                    width: 100px;
                    height: 100px;
                    top: 385px;
                }
                @include _931{
                    right: 42px;
                    top: 342px;
                    width: 90px;
                    height: 90px;
                }
                @include _720{
                    width: 70px;
                    height: 70px;
                    right: -27px;
                    top: 302px;
                }
                @include _611{
                    width: 60px;
                    height: 60px;
                    right: -1px;
                    top: 261px;
                }
            }
            .brown-square{
                width: 120px;
                height: 120px;
                background-color: brown;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 18px;
                @include _1239{
                    width: 100px;
                    height: 100px;
                }
                @include _931{
                    width: 90px;
                    height: 90px;
                    font-size: 15px;
                    position: absolute;
                    top: 600px;
                    text-align: center;
                }
                @include _720{
                    width: 70px;
                    height: 70px;
                }
                @include _611{
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .first-level-body-details-right{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.first-level-body-done-button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 3px solid white;
    // position: absolute;
    // bottom: 100px;
    // right: 200px;
    @include _1239{
        width: 80px;
        height: 80px;
        bottom: 190px;
    }
    @include _931{
        right: 100px;
        bottom: 130px;
    }
    @include _611{
        right: 100px;
        bottom: 130px;
        width: 70px;
        height: 70px;
        font-size: 20px;
    }
}

.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

// Второе задание первого уровня // адаптив полностью готов
.trapezoid{
    border-bottom: 100px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 50px;
    @include _1239{
        border-bottom: 70px solid white;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        width: 40px;
    }
    @include _931{
        border-bottom: 60px solid white;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        width: 30px;
    }
    @include _611{
        border-bottom: 40px solid white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        width: 20px;
    }
    @include _421{
        border-bottom: 30px solid white;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        width: 15px;
    }
}
.circle{
    width: 190px;
    height: 190px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 20px;
    @include _1239{
        width: 150px;
        height: 150px;
        font-size: 15px;
    }
    @include _931{
        width: 130px;
        height: 130px;
        font-size: 15px;
    }
    @include _611{
        width: 100px;
        height: 100px;
        font-size: 10px;
    }
    @include _421{
        width: 60px;
        height: 60px;
        font-size: 7px;
    }
}
.blue-circle{
    background: radial-gradient(white, blue);
}
.orange-trapezoid{
    border-bottom: 100px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    @include _1239{
        border-bottom: 70px solid orange;
        font-size: 13px;
    }
    @include _931{
        border-bottom: 60px solid orange;
    }
    @include _611{
        border-bottom: 40px solid orange;
    }
    @include _421{
        border-bottom: 30px solid orange;
    }
    span{
        display: inline-block;
        margin-top: 100px;
        text-align: center;
        @include _1239{
            margin-top: 70px;
            font-size: 11px;
        }
        @include _611{
            margin-top: 50px;
            font-size: 9px;
        }
        @include _421{
            margin-top: 40px;
            font-size: 7px;
        }
    }
}

.firstLevel-secondTask-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    #firstLevel-secondTask-infblock{
        width: 300px;
        height: 50px;
        border: none;
        border-radius: 15px;
        font-size: 25px;
        color: red;
        background: transparent;
        text-align: center;
        margin: auto;
        @include _611{
            width: 200px;
            font-size: 20px;
        }
        @include _421{
            width: 150px;
            font-size: 15px;
        }
    }
    .first-level-body-secondTask{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 700px;
        margin-top: 100px;
        .first-level-body-details-secondTask-left{
            width: 500px;
            height: 700px;
            @include _1729{
                width: 400px;
            }
            @include _1239{
                width: 250px;
            }
            @include _931{
                width: 190px;
            }
            @include _611{
                width: 130px;
                height: 500px;
            }
            @include _421{
                width: 60px;
            }
            .largest-circle-parent{
                 width: 500px;
                 height: 350px;
                 position: relative;
                 @include _1729{
                    width: 400px;
                }
                @include _1239{
                    width: 250px;
                }
                @include _931{
                    width: 190px;
                }
                @include _611{
                    width: 130px;
                    height: 250px;
                }
                @include _421{
                    width: 60px;
                }
                .blue-circle-largest{
                    position: absolute;
                    top: 20px;
                    right: 50px;
                    width: 250px; 
                    height: 250px; 
                    border-radius: 150px;
                    @include _1239{
                        width: 200px; 
                        height: 200px; 
                    }
                    @include _931{
                        width: 170px; 
                        height: 170px;
                        right: 20px; 
                    }
                    @include _611{
                        width: 125px; 
                        height: 125px;
                        right: 0px; 
                        top: 200px;
                    }
                    @include _421{
                        width: 90px; 
                        height: 90px;
                        right: 0px; 
                        top: 200px;
                    }
                }
            }
            .orange-trapezoid-parent{
                width: 500px;
                height: 350px;
                position: relative;
                @include _1729{
                    width: 400px;
                }
                @include _1239{
                    width: 250px;
                }
                @include _931{
                    width: 190px;
                }
                @include _611{
                    width: 130px;
                    height: 250px;
                }
                @include _421{
                    width: 60px;
                }
                .orange-trapezoid{
                    position: absolute;
                    top: 200px;
                    right: 270px;
                    @include _1729{
                        right: 200px;
                    }
                    @include _1239{
                        right: 60px;
                    }
                    @include _931{
                        right: 20px;
                    }
                    @include _421{
                        right: 0px;
                        top: -200px;
                    }
                }
            }
        }
        .first-level-body-secondTask-image{
            width: 500px;
            height: 700px;
            position: relative;
            @include _1729{
                width: 400px;
            }
            @include _1239{
                width: 250px;
            }
            @include _931{
                width: 190px;
            }
            @include _611{
                width: 130px;
                height: 500px;
            }
            @include _421{
                width: 60px;
            }
            .white-trapezoid{
                position: absolute;
                left: 170px;
                @include _1729{
                    left: 130px;
                }
                @include _1239{
                    left: 70px;
                }
                @include _931{
                    left: 50px;
                }
                @include _611{
                    left: 35px;
                }
                @include _421{
                    left: 20px;
                }
            }
            .rightHaydSnowman{
                position: absolute;
                top: 289px;
                right: 83px;
                width: 74px;
                height: 74px;
                background: radial-gradient(white, blue);
                @include _1729{
                    right: 21px;
                }
                @include _1239{
                    width: 44px;
                    height: 44px;
                    right: 2px;
                    top: 220px;
                }
                @include _931{
                    width: 34px;
                    height: 34px;
                    top: 180px;
                    right: 6px;
                }
                @include _611{
                    width: 24px;
                    height: 24px;
                    top: 120px;
                    right: 4px;
                }
                @include _421{
                    width: 14px;
                    height: 14px;
                    top: 80px;
                    right: -35px;
                }
            }
            .leftHaydSnowman{
                position: absolute;
                top: 289px;
                left: 78px;
                width: 74px;
                height: 74px;
                background: radial-gradient(white, blue);
                @include _1729{
                    left: 41px;
                }
                @include _1239{
                    width: 44px;
                    height: 44px;
                    top: 220px;
                    left: 21px;
                }
                @include _931{
                    width: 34px;
                    height: 34px;
                    top: 180px;
                    left: 4px;
                }
                @include _611{
                    width: 24px;
                    height: 24px;
                    top: 120px;
                    left: 4px;
                }
                @include _421{
                    width: 14px;
                    height: 14px;
                    top: 80px;
                    left: 5px;
                }
            }
            .face-snowman{
                width: 150px;
                height: 150px;
                background-color: whitesmoke;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 98px;
                left: 170px;
                @include _1729{
                    left: 130px;
                }
                @include _1239{
                    width: 130px;
                    height: 130px;
                    left: 67px;
                    top: 70px;
                }
                @include _931{
                    width: 110px;
                    height: 110px;
                    left: 40px;
                    top: 60px;
                }
                @include _611{
                    width: 80px;
                    height: 80px;
                    left: 25px;
                    top: 40px;
                }
                @include _421{
                    width: 50px;
                    height: 50px;
                    left: 18px;
                    top: 30px;
                }
                img{
                    width: 135px;
                    height: 131px;
                    border-radius: 75px;
                    @include _1239{
                        width: 115px;
                        height: 115px;
                    }
                    @include _931{
                        width: 100px;
                        height: 100px;
                    }
                    @include _611{
                        width: 70px;
                        height: 70px;
                    }
                    @include _421{
                        width: 45px;
                        height: 45px;
                    }
                }
            }
            .white-circle-small{
                position: absolute;
                top: 248px;
                left: 153px;
                @include _1729{
                    left: 115px;
                }
                @include _1239{
                    left: 60px;
                    top: 201px;
                }
                @include _931{
                    left: 30px;
                    top: 171px;
                }
                @include _611{
                    left: 15px;
                    top: 120px;
                }
                @include _421{
                    left: 13px;
                    top: 81px;
                }
            }
            .white-circle-largest{
                position: absolute;
                left: 123px;
                top: 439px;
                width: 250px; 
                height: 250px; 
                border-radius: 150px;
                @include _1729{
                    left: 85px;
                }
                @include _1239{
                    width: 200px; 
                    height: 200px; 
                    left: 35px;
                    top: 352px;
                }
                @include _931{
                    width: 170px; 
                    height: 170px; 
                    left: 10px;
                    top: 303px;
                }
                @include _611{
                    width: 125px; 
                    height: 125px;
                    left: 2px;
                    top: 220px;
                }
                @include _421{
                    width: 90px; 
                    height: 90px;
                    left: 0px;
                    top: 141px;
                }
            }
        }
        .first-level-body-details-secondTask-right{
            width: 500px;
            height: 700px;
            @include _1729{
                width: 400px;
            }
            @include _1239{
                width: 250px;
            }
            @include _931{
                width: 190px;
            }
            @include _611{
                width: 130px;
                height: 500px;
            }
            .small-circle-parent{
                position: relative;
                width: 500px;
                height: 350px;
                @include _1729{
                    width: 400px;
                }
                @include _1239{
                    width: 250px;
                }
                @include _931{
                    width: 190px;
                }
                @include _611{
                    width: 130px;
                    height: 250px;
                }
                @include _421{
                    width: 60px;
                }
                .blue-circle-small{
                    position: absolute;
                    top: 100px;
                    left: 50px;
                    @include _611{
                        top: 100px;
                        left: 30px;
                    }
                    @include _421{
                        top: 50px;
                        left: 60px;
                    }
                }
            }
            .button-parent{
                position: relative;
                width: 500px;
                height: 350px;
                @include _1729{
                    width: 400px;
                }
                @include _1239{
                    width: 250px;
                }
                @include _931{
                    width: 190px;
                }
                @include _611{
                    width: 130px;
                    height: 250px;
                }
                @include _421{
                    width: 60px;
                }
                #first-level-body-secondTask-doneButton{
                    display: block;
                    position: absolute;
                    top: 190px;
                    right: 50px;
                    @include _931{
                        top: 210px;
                        right: 30px;
                    }
                    @include _611{
                        top: 170px;
                        right: 10px;
                    }
                    @include _421{
                        width: 40px;
                        height: 40px;
                        font-size: 7px;
                        top: 40px;
                        right: -40px;
                    }
                }
            }
        }
    }
}

// #firstLevel-secondTask-infblock{
//     width: 300px;
//     height: 50px;
//     border: none;
//     border-radius: 15px;
//     font-size: 25px;
//     color: red;
//     background: transparent;
//     margin: 0 655px;
//     text-align: center;
//     // display: none;
// }
// .trapezoid{
//     border-bottom: 100px solid white;
// 	border-left: 50px solid transparent;
// 	border-right: 50px solid transparent;
// 	height: 0;
// 	width: 50px;
// }
// .circle{
//     width: 190px;
// 	height: 190px;
// 	background: white;
// 	-moz-border-radius: 50px;
// 	-webkit-border-radius: 50px;
// 	border-radius: 150px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: blue;
//     font-size: 20px;
// }
// .blue-circle{
//     background: radial-gradient(white, blue);
// }
// .orange-trapezoid{
//     border-bottom: 100px solid orange;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: white;
//     font-size: 15px;
//     span{
//         display: inline-block;
//         margin-top: 100px;
//         text-align: center;
//     }
// }
// .first-level-body-secondTask{
//     display: flex;
//     justify-content: space-around;
//     width: 100%;
//     margin-top: 30px;
//     // display: none;
//     .rightHaydSnowman{
//         position: absolute;
//         top: 289px;
//         right: 53px;
//         width: 74px;
// 	    height: 74px;
//         background: radial-gradient(white, blue);
//     }
//     .leftHaydSnowman{
//         position: absolute;
//         top: 289px;
//         left: -89px;
//         width: 74px;
// 	    height: 74px;
//         background: radial-gradient(white, blue);
//     }
//     .first-level-body-details-secondTask-left{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         width: 400px;
//         // height: 800px;
//         .largest-circle-parent{
//             position: absolute;
//             top: 261px;
//             left: 168px;
//         }
//         .orange-trapezoid-parent{
//             height: 100px;
//             width: 250px;
//             position: absolute;
//             bottom: 75px;
//             left: 168px;
//         }
//     }
//     .first-level-body-secondTask-image{
//         position: relative;
//         width: 190px;
//         height: 800px;
//         // display: flex;
//         // justify-content: center;
//         // align-items: center;
//         .face-snowman{
//             width: 150px;
// 	        height: 150px;
// 	        background-color: whitesmoke;
// 	        -moz-border-radius: 50px;
// 	        -webkit-border-radius: 50px;
// 	        border-radius: 100px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             img{
//                 width: 135px;
//                 height: 131px;
//                 border-radius: 75px;
//             }
//         }
//         .white-circle-small{
//             position: absolute;
//             left: -16px;
//         }
//         .white-circle-largest{
//             position: absolute;
//             left: -41px;
//             top: 439px;
//         }
//     }
//     .first-level-body-details-secondTask-right{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         width: 400px;
//     }
// }
// .first-level-body-secondTask-doneButton{
//     display: none;
// }

.confetti{
    // display: none;
}
// Второй уровень первое задание

.second-level-blocks{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    color: orange;
    padding-bottom: 60px;
    border-radius: 50px;
}
.plus{
    width: 200px;
    height: 200px;
    background: url('../images/imgonline-com-ua-Resize-1KUBI7ihSObOUIRC.png') no-repeat 1px;
}
.equality{
    width: 200px;
    height: 200px;
    background: url('../images/imgonline-com-ua-Resize-Dzgx7JpZno.png') no-repeat -50px 0px;
}

.second-level{
    // display: none;
    .second-level-firstTask-InfBlock{
        width: 300px;
        height: 50px;
        border-radius: 15px;
        font-size: 25px;
        color: red;
        background: transparent;
        margin: 0 655px;
        text-align: center;
    }
    .second-level-body{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .number-1{
            width: 300px;
            height: 300px;
            background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 120px 250px;
        }
        .number-3{
            width: 300px;
            height: 300px;
            background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 50px 250px,
                        url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 120px 250px,
                        url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 190px 250px;
        }
        .second-level-body-resultFirstTask{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .number-4{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 20px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 90px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 160px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 230px 150px;
            }
            .number-5{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 3px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 63px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 123px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 183px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 243px 150px;
            }
            .number-6{
                width: 300px;
                height: 180px;
                border: 2px solid red;
                background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 90px 165px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 160px 165px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
        }
    }
}


.second-level-secondTask{
    // display: none;
    .second-level-secondTask-InfBlock{
        width: 300px;
        height: 50px;
        border-radius: 15px;
        font-size: 25px;
        color: red;
        background: transparent;
        margin: 0 655px;
        text-align: center;
    }
    .second-level-body-secondTask{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .number-4S{
            width: 300px;
            height: 300px;
            border: 2px solid violet;
            background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 250px;
        }
        .number-2{
            width: 300px;
            height: 300px;
            border: 2px solid violet;
            background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 80px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 150px 250px;
        }
        .second-level-body-resultSecondTask{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .number-6S{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 165px;
                width: 300px;
                height: 180px;
                border: 2px solid violet;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
            .number-8{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 165px;
                width: 300px;
                height: 180px;
                border: 2px solid violet;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
            .number-7{
                width: 300px;
                height: 180px;
                border: 2px solid violet;
                background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 130px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 200px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 55px 165px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
        }
    }
}