@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "variables";
@keyframes slide {
    0%  {
        transform: scale(0, 0) translateY(0);
    }
    
    15%, 70% {
        transform: scale(1, 1) translateY(0);
    }
    
    90% {
        transform: scale(1, 1) translateY(600%);
    }
    
    100% {
        transform: scale(1, 1) translateY(600%);
    }
}


body{
    background-image: url('../images/1645745289_2-kartinkin-net-p-kartinki-detskii-sad-dlya-prezentatsii-2.jpg');
    -moz-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    font-family: $font;
    overflow: hidden;

}

.container{
    width: $container-width;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
.header-window{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .inf-buttons{
        width: 300px;
        display: flex;
        justify-content: space-between;
        .inf-buttons-style{
            width: 140px;
            height: 60px;
            color: red;
        }
    }
    .user-name-result{
        width: 400px;
        display: flex;
        justify-content: space-between;
        .userName{
            width: 140px;
            height: 60px;
            color: red;
        }
        .userCounter{
            width: 250px;
            height: 60px;
            display: flex;
            justify-content: space-around;
            .cake{
                font-size: 50px;
                color: lightgray;
            }
        }
    }
}
.popup_done{
    position: fixed;
    bottom: 38px;
    width: 70%;
    background-color: green;
    color: white;
    // display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
    height: 56px;
    border-radius: 23px;
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
    .popup_done_text{
        color: white;
        font-size: 25px;
    } 
}
.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}


// Приветствие

.circle_wraper{
    width: 1000px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .circle{
        width: 120px;
        height: 110px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .05);
        transform: scale(0, 0) translateY(0);
    
        animation-name: slide;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: 1;
    }
    .red{
        background-color: red;
        animation-delay: .2s;
    }
    .yellow{
        background-color: orange;
        animation-delay: .4s;
    }
    .blue{
        background-color: blue;
        animation-delay: .6s;
    }
    .violet{
        background-color: violet;
        animation-delay: .8s;
    }
    .green{
        background-color: green;
    }
    .pink{
        background-color: pink;
    }
}

// Ввод данных пользователя

.userDataForm{
   width: 100%;
   height: 100%;
   background: transparent;
//    display: flex;
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 300px;
//    opacity: 0;
//    transition: 1s;
//    visibility: hidden;
    #userNameForm{
        width: 600px;
        height: 60px;
        margin: auto auto;
        border-radius: 20px;
        border: solid 1px white;
        font-size: 30px;
        color: red;
        outline: none;
    }
    label{
        font-size: 40px;
        color: red;
    }
    #userDataFormButton{
        width: 200px;
        height: 40px;
        margin-top: 15px;
        background-color: red;
        color: white;
        border-radius: 15px;
        border: none;
        font-size: 20px;
    }
}
.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}



// Стартовая страница
.inf-blocks-style{
    border-radius: 30px;
    // display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px white;
    font-size: 25px;
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
}
.levels-start-blocks{
    width: 500px;
    height: 450px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    color: red;
}
.start-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-window{
    display: none;
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
    .levels-start-window{
        width: 100%;
        // height: 400px;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .first-level-start{
            background: url('../images/shapes.png') no-repeat center;
            .first-level-button{
    
            }
        }
        .second-level-start{
            background: url('../images/nums.png') no-repeat center;
            .second-level-button{
    
            }
        }
        .third-level-start{
            background: url('../images/letters.png') no-repeat center;
            .third-level-button{
    
            }
        }
    }
}
.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

// Модальное окно информации

.popup_options{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    .popup_options_body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        .popup_options_content{
            background-color: white;
            color: red;
            max-width: 800px;
            padding: 30px;
            position: relative;
            transition: all 0.8s ease 0s;
            opacity: 0;
            transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
            .popup_options_close{
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 20px;
                color: red;
                text-decoration: none;

            }
            .popup_options_title{
                font-size: 40px;
                margin: 0px 0px 1em 0px;
                color: red;
            }
            .popup_options_text{
                color: red;
            }
        }
    }
}
.popup_options:target{
    opacity: 1;
    visibility: visible;
    .popup_options_content{
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
}

// Первый уровень
.green-triangle-parent{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    .green-triangle{
        width: 0;
	    height: 0;
	    border-left: 170px solid transparent;
	    border-right: 170px solid transparent;
	    border-bottom: 200px solid green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        span{
            margin-left: -24px;
            margin-top: 100px;
            color: white;
            font-size: 18px;
        }
    }
}
.first-level-body-infBlock{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    color: red;
    background: transparent;
    margin: 0 auto;
    text-align: center;
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
    display: none;
}
.first-level-body{
    // opacity: 0;
    // transition: 1s;
    // visibility: hidden;
    // display: flex;
    display: none;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    .first-level-body-details-left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .brown-square-parent{
            width: 350px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            .brown-square{
                width: 120px;
                height: 120px;
                background-color: brown;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 18px;
            }
        }
    }
    .first-level-body-image{
        position: relative;
        width: 300px;
        height: 800px;
        .white-triangle{
            width: 0;
	        height: 0;
	        border-left: 170px solid transparent;
	        border-right: 170px solid transparent;
	        border-bottom: 200px solid white;
        }
        .first-white-triangle{
            position: absolute;
            top: 79px;
        }
        .green-triangle{
            width: 0;
            height: 0;
            border-left: 170px solid transparent;
            border-right: 170px solid transparent;
            border-bottom: 200px solid green;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            span{
                margin-left: -24px;
                margin-top: 100px;
                color: white;
                font-size: 18px;
            }
        }
        .second-white-triangle{
            position: absolute;
            top: 280px;
        }
        .green-triangle{
            width: 0;
            height: 0;
            border-left: 170px solid transparent;
            border-right: 170px solid transparent;
            border-bottom: 200px solid green;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            span{
                margin-left: -24px;
                margin-top: 100px;
                color: white;
                font-size: 18px;
            }
        }
        .white-square{
            width: 120px;
            height: 120px;
            background-color: white;
            border: solid 2px brown;
            position: absolute;
            top: 480px;
            right: 66px;
        }
        .brown-square{
            width: 120px;
            height: 120px;
            background-color: brown;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
        }
    }
    .first-level-body-details-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.first-level-body-done-button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 3px solid white;
    position: absolute;
    bottom: 100px;
    right: 200px;
}

.displayAnimateBlock{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

// Второе задание первого уровня

#firstLevel-secondTask-infblock{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    color: red;
    background: transparent;
    margin: 0 655px;
    text-align: center;
    display: none;
}
.trapezoid{
    border-bottom: 100px solid white;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 50px;
}
.circle{
    width: 190px;
	height: 190px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 20px;
}
.blue-circle{
    background: radial-gradient(white, blue);
}
.orange-trapezoid{
    border-bottom: 100px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    span{
        display: inline-block;
        margin-top: 100px;
        text-align: center;
    }
}
.first-level-body-secondTask{
    // display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    display: none;
    .rightHaydSnowman{
        position: absolute;
        top: 289px;
        right: 53px;
        width: 74px;
	    height: 74px;
        background: radial-gradient(white, blue);
    }
    .leftHaydSnowman{
        position: absolute;
        top: 289px;
        left: -89px;
        width: 74px;
	    height: 74px;
        background: radial-gradient(white, blue);
    }
    .first-level-body-details-secondTask-left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 250px;
        // height: 800px;
        .largest-circle-parent{
            position: absolute;
            top: 261px;
            left: 168px;
        }
        .orange-trapezoid-parent{
            height: 100px;
            width: 250px;
            position: absolute;
            bottom: 75px;
            left: 168px;
        }
    }
    .first-level-body-secondTask-image{
        position: relative;
        width: 300px;
        height: 800px;
        .face-snowman{
            width: 150px;
	        height: 150px;
	        background-color: whitesmoke;
	        -moz-border-radius: 50px;
	        -webkit-border-radius: 50px;
	        border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 135px;
                height: 131px;
                border-radius: 75px;
            }
        }
        .white-circle-small{
            position: absolute;
            left: -16px;
        }
        .white-circle-largest{
            position: absolute;
            left: -41px;
            top: 439px;
        }
    }
    .first-level-body-details-secondTask-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 190px;
    }
}
.first-level-body-secondTask-doneButton{
    display: none;
}

.confetti{
    display: none;
}
// Второй уровень первое задание

.second-level-blocks{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    color: orange;
    padding-bottom: 60px;
    border-radius: 50px;
}
.plus{
    width: 200px;
    height: 200px;
    background: url('../images/imgonline-com-ua-Resize-1KUBI7ihSObOUIRC.png') no-repeat 1px;
}
.equality{
    width: 200px;
    height: 200px;
    background: url('../images/imgonline-com-ua-Resize-Dzgx7JpZno.png') no-repeat -50px 0px;
}

.second-level{
    display: none;
    .second-level-firstTask-InfBlock{
        width: 300px;
        height: 50px;
        border-radius: 15px;
        font-size: 25px;
        color: red;
        background: transparent;
        margin: 0 655px;
        text-align: center;
    }
    .second-level-body{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .number-1{
            width: 300px;
            height: 300px;
            background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 120px 250px;
        }
        .number-3{
            width: 300px;
            height: 300px;
            background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 50px 250px,
                        url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 120px 250px,
                        url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 190px 250px;
        }
        .second-level-body-resultFirstTask{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .number-4{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 20px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 90px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 160px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 230px 150px;
            }
            .number-5{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 3px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 63px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 123px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 183px 150px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 243px 150px;
            }
            .number-6{
                width: 300px;
                height: 180px;
                border: 2px solid red;
                background: url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 90px 165px,
                            url('../images/imgonline-com-ua-Resize-We1c4OO8EK.png') no-repeat 160px 165px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
        }
    }
}


.second-level-secondTask{
    display: none;
    .second-level-secondTask-InfBlock{
        width: 300px;
        height: 50px;
        border-radius: 15px;
        font-size: 25px;
        color: red;
        background: transparent;
        margin: 0 655px;
        text-align: center;
    }
    .second-level-body-secondTask{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .number-4S{
            width: 300px;
            height: 300px;
            border: 2px solid violet;
            background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 250px;
        }
        .number-2{
            width: 300px;
            height: 300px;
            border: 2px solid violet;
            background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 80px 250px,
                        url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 150px 250px;
        }
        .second-level-body-resultSecondTask{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .number-6S{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 165px;
                width: 300px;
                height: 180px;
                border: 2px solid violet;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
            .number-8{
                width: 300px;
                height: 180px;
                background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 165px;
                width: 300px;
                height: 180px;
                border: 2px solid violet;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
            .number-7{
                width: 300px;
                height: 180px;
                border: 2px solid violet;
                background: url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 20px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 90px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 160px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 230px 100px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 130px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 200px 165px,
                            url('../images/imgonline-com-ua-Resize-d0bx1RVqq5.png') no-repeat 55px 165px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 110px;
                color: orange;
                padding-bottom: 60px;
                border-radius: 30px;
            }
        }
    }
}